<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue2 Checkbox Example</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" href="./iframe2.css">
</head>

<body>
  <div id="app">
    <button @click="applyConfig">应用配置</button>
    <button @click="applyConfig" v-show="showChangeButton">应用变更的配置</button>
    <button @click="toJS" >转换并复制成JS代码</button>
    <button @click="toDP" >转换并复制成DrissionPage代码</button>
    <hr>
    <ul>
      <li> <strong>JSON.parse</strong>
        <input type="checkbox" v-model="JSONParse.hook" value="JSON.parse">Hook
        <span v-show="JSONParse.hook">
          <input type="checkbox" v-model="JSONParse.debug"> debug
          <input type="checkbox" v-model="JSONParse.included"> include
          <input type="text" v-model="JSONParse.includedValue" v-show="JSONParse.included" placeholder="输入包含的字符串">
        </span>
      
      
      </li>
      <hr>
      <li> <strong>JSON.stringify</strong>
        <input type="checkbox" v-model="JSONStringify.hook" value="JSON.stringify">Hook
        <span v-show="JSONStringify.hook">
          <input type="checkbox" v-model="JSONStringify.debug"> debug
          <input type="checkbox" v-model="JSONStringify.included"> include
          <input type="text" v-model="JSONStringify.includedValue" v-show="JSONStringify.included" placeholder="输入包含的字符串">
        </span>
      </li>


        


      <!-- <li><input type="checkbox" v-model="hooks.hookJSONStringify" value="JSON.stringify">JSON.stringify</li> -->

    </ul>
    <hr>
   
    <ul>
      <li v-for="(value, key) in config" :key="key">
        {{ key }}<p>{{value}}</p>        
      </li>
    </ul>
  </div>
  <script src="./iframe2.js"></script>
  <script>



    new Vue({
      el: '#app',
      data: {
        showChangeButton: false,

        JSONParse: {
          debug: false,
          hook: false,
          included: false,
          includedValue: '',
          
        },
        JSONStringify: {
          debug: false,
          hook: false,
          included: false,
          includedValue: ''          
        }
      },
      computed: {
        config() {
          return {
            JSONParse: this.JSONParse.hook? `HookBoxs.JSONParse.hook(debug=${this.JSONParse.debug},include="${this.JSONParse.includedValue}")`:"HookBoxs.JSONParse.unhook()",
            JSONStringify: this.JSONStringify.hook? `HookBoxs.JSONStringify.hook(debug=${this.JSONStringify.debug},include="${this.JSONStringify.includedValue}")`:"HookBoxs.JSONStringify.unhook()",
          }
        },

      },


      watch: {
        config: {
          handler(newVal, oldVal) {
            console.log('config changed', newVal, oldVal)
            this.showChangeButton = true;
          },
          deep: true,
        },

      },
      methods: {
        applyConfig() {
          window.parent.postMessage(this.config, "*");
          console.log('config applied', this.config);
          this.showChangeButton = false;
        },
        toDP(){
          let a =toDrissionPageCode(this.config)
          copyToClipboard(a)
          alert("DrissionPage语法复制成功")
        },
        toJS(){
          let a =toJSCode(this.config)
          copyToClipboard(a)
          alert("JS语法复制成功")  
        }
      }
    });
  </script>
</body>

</html>